.section {
    grid-column: 1 / -1;
    color: var(--color-outline);
    font-size: var(--font-size-xs);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    span {
        flex: none;
    }
}

.separator.separator {
    flex: 1 1 auto;
    width: auto;
    min-width: 0;
}
