.right-panel {
    overflow: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--spacing-md);
    min-width: 0;
    min-height: 0;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(var(--tabs-count), minmax(0, 1fr));
    gap: var(--spacing-xs);
}

.tab {
    cursor: pointer;

    display: inline-flex;
    gap: var(--spacing-xs);
    align-items: center;
    justify-content: center;

    min-width: 0;
    min-height: 36px;
    padding: var(--spacing-xs) var(--spacing-sm);
    border: 1px solid var(--color-outline-new);
    border-radius: var(--radius-xs);

    font-size: var(--font-size-xs);
    font-weight: 800;
    color: var(--color-on-surface-variant);

    background-color: var(--color-surface-container-low);

    &.active {
        border-color: var(--color-on-surface);
        color: var(--color-on-surface);
        background-color: var(--color-surface-container);
    }

    &:focus {
        outline: none;
    }
}
