.placeholder {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    min-height: 240px;

    font-size: var(--font-size-lg);
    font-weight: 600;
    color: rgb(255 255 255 / 25%);
    text-align: center;
}
