NODE_ENV=development

DATABASE_URL=postgres://admin:dev_password@localhost:6432/qualification

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=dev_password

SERVER_PORT=3001
# ??? i already forgot what did i mean
# TODO: behind the gateway there will be different values
CLIENT_ORIGIN=http://localhost:3000

AUTH_JWKS_URL=http://localhost:8080/gateway/.well-known/jwks.json
#* MUST MATCH THE APPS/GO/AUTH OR BE PROPERLY LOADED THROUGH secrets.yaml
AUTH_JWT_ISSUER=qualification-auth
AUTH_JWT_AUDIENCE=internal
DEV_INTERNAL_IDENTITY='{"userId": "dev-user", "orgs": [{ "id":"dev-org", "role":"owner" }]}'
