POSTGRES_USER=admin
POSTGRES_PASSWORD=dev_password
POSTGRES_DB=qualification
POSTGRES_HOST=localhost
POSTGRES_PORT=6432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=dev_password

SERVER_PORT=3001
# TODO: behind the gateway there will be different values
CLIENT_ORIGIN=http://localhost:3000
