.git
.github
.moon/cache
.moon/docker

node_modules
**/node_modules
dist
**/dist
deploy

.env
.env.*
**/.env
**/.env.*

k8s/**/secret.yml
k8s/**/secret.yaml

*-logs
coverage
test-results
playwright-report
mdnDocsHeaders.html

moon.yaml
lefthook.yaml
oxlint.config.ts
vitest.config.ts
prettier.config.js
commitlint.config.js