node_modules
dist
bin

.env
k8s/**/secret.yml
k8s/**/secret.yaml
# Postgres:
# helm show values oci://registry-1.docker.io/bitnamicharts/postgresql 
# --version 18.6.2 > values.example.yaml - to generate and look at acceptable values. (also they can be seen in artifact hub)
# 
# Redis:
# helm show values oci://registry-1.docker.io/bitnamicharts/redis 
# --version 25.5.2 > values.example.yaml 
k8s/**/values.example.yaml

userlist.txt

deploy

*-logs

mdnDocsHeaders.html

package-lock.json
test-results
playwright-report
playwright.config.ts
apps/node/client/tests

# moon
.moon/cache
.moon/docker