.empty {
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
    justify-content: center;
    min-height: 80px;

    font-size: var(--font-size-sm);
    color: var(--color-on-surface-variant);
    text-align: center;
}
