.right-panel {
    overflow: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    min-width: 0;
    min-height: 0;
}

.filter-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-xs);
}

.filter-tab {
    cursor: pointer;

    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
    justify-content: center;

    padding: var(--spacing-xs) var(--spacing-sm);
    border: 1px solid var(--color-outline-new);
    border-radius: var(--radius-xs);

    font-size: var(--font-size-xs);
    font-weight: 700;
    color: var(--color-on-surface-variant);

    background-color: var(--color-surface-container-low);

    &.active {
        border-color: var(--color-on-surface);
        color: var(--color-on-surface);
        background-color: var(--color-surface-container);
    }

    &:focus {
        outline: none;
    }
}
