.workspace-grid-resizer-base {
    position: relative;

    background-color: transparent;
    flex-shrink: 0;

    z-index: 1;

    &.horizontal {
        width: 8px;
        height: 100%;
    }

    &.vertical {
        width: 100%;
        height: 8px;
    }
}

.workspace-grid-resizer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: transparent;
    cursor: col-resize;

    &.vertical {
        cursor: row-resize;
    }
}
