.wrapper {
    overflow: hidden;

    padding-block: var(--spacing-md);

    padding-inline: clamp(0rem, calc((100vw - 900px) * 12rem / (1280px - 900px)), 12rem);

    width: 100vw;
    height: 100vh;

    font-family: var(--font-body);
}

.entrance {
    overflow: hidden;

    width: 100%;
    height: 100%;
    max-height: 768px;

    border-radius: var(--radius-md);

    background-color: var(--color-surface-new);

    @media (width <= 768px) {
        max-width: 600px;
    }
}

.content {
    flex: 1.1;

    overflow: hidden;

    mask-image: linear-gradient(
        to right,
        transparent 0,
        rgb(0 0 0 / 35%) calc(var(--spacing-md) * 0.6),
        #000 calc(var(--spacing-md) * 1.2),
        #000 calc(100% - (var(--spacing-md) * 1.7)),
        rgb(0 0 0 / 35%) calc(100% - (var(--spacing-md) * 0.6)),
        transparent 100%
    );
    mask-image: linear-gradient(
        to right,
        transparent 0,
        rgb(0 0 0 / 35%) calc(var(--spacing-md) * 0.6),
        #000 calc(var(--spacing-md) * 1.2),
        #000 calc(100% - (var(--spacing-md) * 1.7)),
        rgb(0 0 0 / 35%) calc(100% - (var(--spacing-md) * 0.6)),
        transparent 100%
    );
}

.carousel-viewport {
    position: relative;

    flex: 1;

    width: 100%;
}

.carousel-track {
    display: flex;
    gap: var(--spacing-lg);

    width: 100%;
    height: 100%;
}

.carousel-slide {
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    min-width: 100%;
    height: 100%;
}

.links {
    border-bottom: 1px solid var(--color-surface-container);
}

.links-list {
    list-style: none;
}

.link {
    cursor: pointer;

    border: none;

    font-family: var(--font-headline);
    font-size: var(--font-size-lg);
    font-weight: 600;
    color: var(--color-outline);
    text-decoration: none;

    background: none;

    transition: color 0.2s;

    &:hover {
        color: var(--color-on-background);
    }

    &.active {
        color: var(--color-on-background);
    }
}

.active-link {
    height: calc(var(--spacing-xs) / 2);
    border-radius: var(--radius-xs);
    background-color: var(--color-on-background);
}

.footer {
    font-size: var(--font-size-xs);
    line-height: 1.5;
    color: var(--color-outline);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
