:root {
    --color-secondary-rgb: 135, 37, 87;
    --color-secondary-container: #5d1a3c;
    --color-on-secondary-container: #cbcbcb;
    --color-background: #000;
    --color-on-background: #fff;
    --color-surface: #0a0a0a;
    --color-on-surface: #fff;
    --color-on-surface-muted: #8a8a8a;
    --color-on-surface-variant: #b0b0b0;
    --color-on-surface-disabled: #3d3d3d;
    --color-surface-container-lowest: #111;
    --color-surface-container-low: #111;
    --color-surface-container: #1a1a1a;
    --color-surface-container-high: #242424;
    --color-surface-container-highest: #202020;
    --color-outline: #8c8c8c;
    --color-outline-variant: #444;
    --color-error: #6d0000;
    --color-error-container: #6d0000;

    // -----------------------------------------------------------------------------------------------
    --color-primary: #910e2f;
    --color-secondary: #910e2f;
    --color-surface-new: #0f0f0f;
    --color-outline-new: #2c2a2b;
}
