AUTH_PORT=3002
AUTH_LOG_LEVEL=info

# For local development - check the root "infrastructure" folder and docker-compose.database.yaml
DATABASE_URL= # targets pgbouncer

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
# Other microservices MUST use other logical databases
REDIS_DB=0

# true when running standalone (dev), false when behind openresty
AUTH_CORS_ENABLED=false

AUTH_PEPPER=pepper

# these are just making tests more comfortable
AUTH_MAX_FAILED_ATTEMPTS=3
AUTH_LOCKOUT_DURATION=2s

AUTH_JWT_PRIVATE_KEY_PATH=
AUTH_INTERNAL_JWT_TTL=60s
# All this is actually a part of JWT content
AUTH_JWT_KID=
AUTH_JWT_ISSUER=qualification-auth
AUTH_JWT_AUDIENCE=internal
