.label {
    font-size: var(--font-size-xs);
    font-weight: 700;
    color: var(--color-on-surface-variant);
}

.hint {
    font-size: var(--font-size-xs);
    color: var(--color-outline);
}

.error {
    .label {
        color: var(--color-on-error-container);
    }
}

.error-text {
    font-size: var(--font-size-xs);
    font-weight: 700;
    color: var(--color-on-error-container);
}
