@use '../../../../../../../../../shared/ui/styles/typography.scss' as typography;

.description {
    @include typography.text-xs;

    display: block;
    overflow: hidden;
    margin-top: var(--spacing-2xs);

    color: var(--color-on-surface);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column-name {
    color: var(--color-primary);
}

.bucket {
    color: var(--color-on-surface-variant);
}
