.section {
    color: var(--color-outline);
    font-size: var(--font-size-xs);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    &::before {
        content: '';
        flex: 1;
        height: 1px;
        background: var(--color-outline-new);
    }
}
