.widgets {
    width: 100%;
    min-width: 0;
    container-type: inline-size;
}

.grid {
    width: 100%;
    min-height: 144px;

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    :global(.grid-stack-item-content) {
        overflow: hidden;
        border-radius: var(--radius-xs);
    }
}
