@use '../../../../shared/ui/styles/typography.scss' as typography;

.summary {
    @include typography.text-sm;

    margin: 0;

    color: var(--color-on-surface-variant);
}

.small {
    @include typography.text-xs;
}

.col {
    font-weight: 600;
    color: var(--color-primary);
}

.val {
    font-weight: 600;
    color: var(--color-secondary);
}
