.dropzone {
    cursor: pointer;

    border: 1px solid var(--color-outline);
    border-radius: var(--radius-sm);

    background: transparent;

    transition: border-color 0.2s ease;

    &:hover,
    &:focus-within {
        border-color: var(--color-on-surface);
    }
}

.file-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}
