:root {
    --color-primary: #00ff0d;
    --color-primary-container: #004d2c;
    --color-on-primary: #000;
    --color-on-primary-container: #8cffca;
    --color-secondary: #872557;
    --color-secondary-container: #5d1a3c;
    --color-on-secondary-container: #ff9cc2;
    --color-background: #000;
    --color-on-background: #fff;
    --color-surface: #0a0a0a;
    --color-on-surface: #fff;
    --color-on-surface-variant: #b0b0b0;
    --color-surface-container-lowest: #050505;
    --color-surface-container-low: #111;
    --color-surface-container: #1a1a1a;
    --color-surface-container-high: #242424;
    --color-surface-container-highest: #2e2e2e;
    --color-outline: #8c8c8c;
    --color-outline-variant: #444;
    --color-error: #f33;
    --color-error-container: #8c0000;
    --color-on-error-container: #ffb4ab;
}
